body{
  background: #0b0829;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.resApi {
  margin-top: 5%;
  color:#2aa539;
  font-size: calc(50px + 2vmin);
  font-family: 'Roboto', sans-serif;
  
} 

.App-link {
  color: #61dafb;
}

.form{
  margin-top: 2%;
}
.forecast{
  border-bottom:1px solid #2aa539;
  margin-bottom: 1%;
}

/* Weather */
.weather{
  margin-top:4vh;   
}
.card-action{
  margin-top: 3%;
}
.card-action div{
background-color: rgb(7, 7, 7, 0.2);
padding: 1% 2%;
border-radius: 7%;
border-style: outset;
border-color: grey;
}
.card-action div:hover{
  transform:scale(1.1);
}
.card-cities{
  margin-top: 3%;
  margin-bottom: 2%;
  }
  .card-cities button:hover{
    transform:scale(1.1);
  }

.weather.card{
background: #0b0829;
height: 30px;
}
.weather.card img{
  width: 30%;
  }

/* .weather.card .card-action {
  background: #120944;
} */

.weather .temperature {
  font-size:120px;
  font-family: 'Roboto', sans-serif;
  text-shadow: -1px 0 #61dafb, 0 1px #61dafb, 1px 0 #61dafb, 0 -1px #61dafb;
} 
.globe{
  margin-top: 3%;
  margin-bottom: 1%;
}
